{% extends "base.html" %}

{%- block next_prev %}{# Remove previous/next buttons #}{%- endblock %}

{%- block content %}
    {# Hide TOC #}
    <div class="col-md-8 offset-md-2" role="main">{% include "content.html" %}</div>
{%- endblock %}

{%- block footer %}
    <hr>
    <small>
        The CARS Project is a collaboration between
        <a href="https://www.leeds.ac.uk/">University of Leeds</a>,
        <a href="https://www.bristol.ac.uk/">University of Bristol</a> and
        the <a href="https://www.racfoundation.org/">RAC Foundation</a>.
        It is funded by <a href="https://www.adruk.org/">ADR UK</a>, UKRI grant reference: ES/X000648/1.
    </small>
{%- endblock %}
