<div class="footer">
  {{ if .Site.Data.social.links }}
  <div class="footer-social">
    {{ range .Site.Data.social.links }}
      <span class="social-icon social-icon-{{ .name | urlize }}">
        <a href="{{ .url }}" title="{{ .name }}" target="_blank" rel="noopener">
          <img src="{{ .image | relURL }}" width="24" height="24" alt="{{ .name }}"/>
        </a>
      </span>
    {{ end }}
  </div>
  {{ end }}
  
  CARS Project is a collaboration between
  <a href="https://www.leeds.ac.uk/">University of Leeds</a> and
  <a href="https://www.bristol.ac.uk/">University of Bristol</a> and is funded by
  <a href="https://www.adruk.org/">ADR UK</a>.
</div>